#button {
    margin-left: 700px;
    margin-bottom: 30px;
}

#StartGame {
    margin-left: 700px;
    margin-bottom: 30px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 40px;
    height: 40px;
}

#EndOfTheGame {
    font-weight: bolder;
    text-align: center;
    font-size: larger;
}
#Replay {
    margin-left: 700px;
    margin-bottom: 30px;
}